src/main/mule/poc-prototype-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="poc-prototype-api-main" initialState="started" doc:id="8cbcfcb9-f4c9-4647-b7ab-4f332a686bb6">
        <http:listener path="/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="poc-prototype-api-config" />
		<error-handler ref="apikit-router-error-handler" />
    </flow>
    <flow name="get:\flights:poc-prototype-api-config" initialState="started">
		<flow-ref doc:name="impl:getFlights" doc:id="5e372655-0eb5-4b4c-a611-df3d9e607284" name="american-flights-api-impl:getFlights:subflow"/>
		<error-handler ref="http-request-error-handler" />
    </flow>
    <flow name="get:\flights\(id):poc-prototype-api-config" initialState="started">
		<flow-ref doc:name="impl:getFlightsById" doc:id="bb2d0083-1863-4f46-8581-f8564355be5c" name="american-flights-api-impl:getFlightsById:subflow"/>
		<error-handler ref="http-request-error-handler" />
    </flow>
    <flow name="post:\flights:application\json:poc-prototype-api-config" initialState="started">
		<flow-ref doc:name="impl:postFlight" doc:id="a05ea1db-8f66-445e-99ef-a14da7d5e2fd" name="american-flights-api-impl:postFlight:subflow"/>
		<error-handler ref="http-request-error-handler" />
    </flow>
	<flow name="post:\authorize:application\json:poc-prototype-api-config" doc:id="4f5add73-df88-455c-9236-0dc1fcbddd39" initialState="started" >
		<flow-ref doc:name="impl:authorize:subflow" doc:id="35f0f498-e6f0-4a08-ab51-8deb63544011" name="american-flights-api-impl:authorize:subflow" />
		<error-handler ref="http-request-error-handler" />
	</flow>
</mule>
